.PostContainer {
    border: 1px solid gray;
    width: 300px;
    margin-bottom: 10px
    
}
    


.PostHeader {
    height: 40px;
    display: grid;
    align-items: flex-start;
    padding-left: 10px
}

.conteiner{
    display: flex;
    
}
.MainContainer{
    background-color: rgba(8, 8, 8, 0.26);
}
form{
    display: contents;
    
}
input{
    margin: 5px;
    padding: 5px;
    width: 290px;
    
}
input:hover{
    border: solid 2px;
    color: black;
}
button{
    width: 200px;

}
button:hover{
    background-color: black;
    color: white;
    border: solid 2px;
}
.PostFooter { 
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between
}


.UserPhoto  { 
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border-radius: 50%}

    
.PostPhoto{
    width: 100%;
}