*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: mediumvioletred;
   
}
#cabecalho{
    display: flex;
    background-color: mediumvioletred;
}
.cake{
    width: 20px;
    height: 30px;
    margin: 10px;
}
.confeitaria{
    margin: 5px;
    padding: 10px;
}
button{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin: 15px;
}

.img-menu{
    display: flex;
    background-color: #f2d0e0;
    padding: 30px;
}
main{
    display: flex;
    flex-wrap: wrap;
}
section{
    margin: 10px auto;
    padding: 10px;
    border: 1px solid  darkgray;
    width: 95px;
}
img{
    width: 100%;
}
footer{
    text-align: center;
    padding: 20px;
    background-color: mediumvioletred;
}